# Python cache
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build / dist
build/
dist/
*.egg-info/

# Local reports
bandit-report.txt
sast-report.txt
semgrep-report.txt
*.log

# Large telemetry / binary files
*.evt
*.exe

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db